Repository Armor-test/config-connector-352, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-cloud, @Armor-test/dept-api, @Armor-test/squad-payments, @Armor-test/squad-cache, @Armor-test/team-core, @Armor-test/dept-release, @Armor-test/dept-security, @Armor-test/team-governance, @Armor-test/squad-ml, @Armor-test/dept-data, @Armor-test/unit-cloud, @Armor-test/squad-apps, @Armor-test/team-reporting, @Armor-test/squad-ux, @Armor-test/squad-search, @Armor-test/grp-storage, @Armor-test/team-logging, @Armor-test/dept-billing, @Armor-test/team-research, @Armor-test/grp-payments, @Armor-test/unit-test, @Armor-test/squad-api, @Armor-test/squad-performance, @Armor-test/squad-product, @Armor-test/unit-governance, @Armor-test/grp-ui, @Armor-test/squad-database, @Armor-test/grp-api, @Armor-test/squad-research, @Armor-test/grp-reporting, @Armor-test/squad-qa, @Armor-test/squad-mobile, @Armor-test/dept-automation, @Armor-test/grp-search, @Armor-test/squad-frontend, @Armor-test/dept-identity, @Armor-test/squad-tooling, @Armor-test/squad-reporting, @Armor-test/team-frontend, @Armor-test/unit-design, @Armor-test/devops, @Armor-test/infra, @Armor-test/ci-team, @Armor-test/security, @Armor-test/compliance, @Armor-test/dependency-team

.github/CODEOWNERS:

# CODEOWNERS file for config-connector-352
# Global owners - will be requested for all PRs
* @Armor-test/squad-cloud @Armor-test/dept-api @Armor-test/squad-payments

# Directory ownership
/test/ @Armor-test/squad-cache @Armor-test/team-core @Armor-test/dept-api
/tests/ @Armor-test/dept-api @Armor-test/dept-release @Armor-test/dept-security
/controllers/ @Armor-test/team-governance @Armor-test/squad-ml @Armor-test/dept-data
/auth/ @Armor-test/unit-cloud @Armor-test/squad-apps
/docs/ @Armor-test/team-core @Armor-test/team-reporting @Armor-test/squad-ux
/assets/ @Armor-test/squad-search @Armor-test/grp-storage
/scripts/ @Armor-test/team-governance @Armor-test/dept-security @Armor-test/squad-cache
/middleware/ @Armor-test/squad-apps @Armor-test/team-logging @Armor-test/grp-storage
/pkg/ @Armor-test/dept-billing @Armor-test/team-research
/extensions/ @Armor-test/team-reporting @Armor-test/grp-payments
/utils/ @Armor-test/team-research @Armor-test/unit-test
/spec/ @Armor-test/squad-api @Armor-test/squad-performance @Armor-test/squad-product
/core/ @Armor-test/squad-performance @Armor-test/unit-governance @Armor-test/grp-ui
/security/ @Armor-test/dept-release @Armor-test/team-governance @Armor-test/squad-ux
/data/ @Armor-test/squad-cloud @Armor-test/unit-test

# File type ownership
*.tsx @Armor-test/squad-database @Armor-test/squad-api @Armor-test/squad-ml
*.cs @Armor-test/squad-performance @Armor-test/grp-payments @Armor-test/squad-search
*.jsx @Armor-test/squad-api @Armor-test/grp-api @Armor-test/squad-research
*.rb @Armor-test/grp-reporting @Armor-test/dept-release @Armor-test/squad-qa
*.h @Armor-test/squad-mobile @Armor-test/dept-automation @Armor-test/grp-search
*.gradle @Armor-test/grp-api @Armor-test/dept-automation
*.c @Armor-test/squad-frontend @Armor-test/squad-payments @Armor-test/squad-cloud
*.graphql @Armor-test/dept-identity @Armor-test/squad-frontend @Armor-test/squad-ml
*.java @Armor-test/squad-tooling @Armor-test/squad-reporting @Armor-test/team-frontend
*.ts @Armor-test/team-research @Armor-test/squad-apps
*.js @Armor-test/unit-design @Armor-test/squad-research @Armor-test/grp-search
*.lock @Armor-test/team-research @Armor-test/dept-automation @Armor-test/squad-reporting
*.json @Armor-test/dept-api @Armor-test/dept-release

# Security and special files
Dockerfile @Armor-test/devops @Armor-test/infra
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
/src/**/security/ @Armor-test/security @Armor-test/compliance
package.json @Armor-test/dependency-team @Armor-test/security

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-cloud, @Armor-test/dept-api, @Armor-test/squad-payments

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-core, @Armor-test/team-reporting, @Armor-test/squad-ux

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-cache, @Armor-test/team-core, @Armor-test/dept-api

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-cloud, @Armor-test/dept-api, @Armor-test/squad-payments

Add src/index.js
  src/index.js
Owners: @Armor-test/unit-design, @Armor-test/squad-research, @Armor-test/grp-search
